@import './colors.scss';

//-- Color configuration
$color-green: #2bba90 !default;
$color-purple: #8c5eb7 !default;

$color-background: $palette-grey-50 !default;
$color-text: $color-black !default;
$color-text-secondary: rgba($color-black, 0.7) !default;
$color-text-faded: rgba($color-black, 0.5) !default;
$color-text-error: rgb(222, 50, 38) !default;
$color-divider: rgba($color-black, 0.30) !default;

$color-primary: $color-green !default;
$color-primary-dark: darken($color-green, 0.10) !default;
$color-primary-light: lighten($color-green, 0.10) !default;
$color-accent: $color-purple !default;
$color-accent-dark: darken($color-purple, 0.1) !default;
$color-primary-contrast: $color-dark-contrast;
$color-accent-contrast: $color-dark-contrast;

$unit: 1rem !default;

$spacing-tiny: 0.4 * $unit;
$spacing-small: 0.8 * $unit;
$spacing-normal: 1.6 * $unit;
$spacing-large: 2.4 * $unit;
$spacing: $spacing-normal;
