@import './colors.scss';
//-- Color configuration

$color-green: #2bba90 !default;
$color-purple: #8c5eb7 !default;

$color-dark-000: $color-black;
$color-dark-100: #1F1F1F;
$color-dark-200: #282828;
$color-dark-300: #333333;
$color-dark-400: #404040;
$color-dark-500: #4C4C4C;
$color-dark-600: #595959;

$color-background: $color-dark-300 !default;

$color-divider: rgba($color-white, 0.30) !default;

$color-text: $color-white !default;
$color-text-secondary: rgba($color-white, 0.7) !default;
$color-text-faded: rgba($color-white, 0.5) !default;
$color-text-error: rgb(222, 50, 38) !default;

$color-primary: $color-green !default;
$color-primary-dark: darken($color-green, 0.1) !default;
$color-primary-contrast: $color-white !default;

$color-accent: $color-purple !default;
$color-accent-dark: darken($color-purple, 0.1) !default;
$color-accent-contrast: $color-accent !default;

//-- Sizing
$unit: 1rem !default;

$spacing-tiny: 0.4 * $unit;
$spacing-small: 0.8 * $unit;
$spacing-normal: 1.6 * $unit;
$spacing-large: 2.4 * $unit;
$spacing: $spacing-normal;

// -- Fonts
$preferred-font: "Roboto", "Helvetica", "Arial", sans-serif !default;
$font-size: 1.6 * $unit !default;
$font-size-tiny: 1.2 * $unit !default;
$font-size-small: 1.4 * $unit !default;
$font-size-normal: $font-size !default;
$font-size-big: 1.8 * $unit !default;
$font-weight-thin: 300 !default;
$font-weight-normal: 400 !default;
$font-weight-semi-bold: 500 !default;
$font-weight-bold: 700 !default;

//-- Shadows
$shadow-key-umbra-opacity: 0.2 !default;
$shadow-key-penumbra-opacity: 0.14 !default;
$shadow-ambient-shadow-opacity: 0.12 !default;

//-- Depth Shadows
$zdepth-shadow-1: 0 1px 6px rgba(0,0,0,0.12), 0 1px 4px rgba(0,0,0,0.24);
$zdepth-shadow-2: 0 3px 10px rgba(0,0,0,0.16), 0 3px 10px rgba(0,0,0,0.23);
$zdepth-shadow-3: 0 10px 30px rgba(0,0,0,0.19), 0 6px 10px rgba(0,0,0,0.23);
$zdepth-shadow-4: 0 14px 45px rgba(0,0,0,0.25), 0 10px 18px rgba(0,0,0,0.22);
$zdepth-shadow-5: 0 19px 60px rgba(0,0,0,0.30), 0 15px 20px rgba(0,0,0,0.22);

//-- Animation
$animation-duration: .35s;
$animation-delay: $animation-duration / 5;
$animation-curve-fast-out-slow-in: cubic-bezier(0.4, 0, 0.2, 1) !default;
$animation-curve-linear-out-slow-in: cubic-bezier(0, 0, 0.2, 1) !default;
$animation-curve-fast-out-linear-in: cubic-bezier(0.4, 0, 1, 1) !default;
$animation-curve-default: $animation-curve-fast-out-slow-in !default;

//-- Indexes
$z-index-highest: 300;
$z-index-higher: 200;
$z-index-high: 100;
$z-index-normal: 1;
$z-index-low: -100;
$z-index-lower: -200;

//-- Component configurations -----------

$appbar-color: $color-primary-dark !default;
$appbar-contrast: $color-primary-contrast !default;
$appbar-title-total-distance: 8 * $unit;
$appbar-height: 6.4 * $unit !default;
$appbar-h-padding: 2.4 * $unit;
$appbar-title-distance: $appbar-title-total-distance - $appbar-h-padding;

$autocomplete-color-primary-contrast: $color-primary-contrast;
$autocomplete-color-primary: $color-primary;
$autocomplete-overflow-max-height: 45vh;
$autocomplete-suggestion-active-background: rgba($color-black, 0.20);
$autocomplete-suggestion-padding: $unit;
$autocomplete-suggestions-background: $color-dark-500;
$autocomplete-value-border-radius: .2 * $unit;
$autocomplete-value-margin: $unit * .25 $unit * .5 $unit * .25 0;
$autocomplete-value-padding: $unit * .5 $unit * .75;

$avatar-color: $color-white !default;
$avatar-background: $palette-grey-500 !default;
$avatar-size: 4 * $unit !default;
$avatar-font-size: 2.4 * $unit !default;

$button-neutral-color: $color-dark-600 !default;
$button-neutral-color-contrast: $color-white !default;
$button-neutral-color-hover: rgba($color-dark-600 , 0.20) !default;
$button-primary-color-contrast: $color-primary-contrast !default;
$button-primary-color-hover: rgba($color-primary, 0.20) !default;
$button-primary-color: $color-primary !default;
$button-accent-color-contrast: $color-primary-contrast !default;
$button-accent-color-hover: rgba($color-accent, 0.20) !default;
$button-accent-color: $color-accent !default;
$button-disabled-text-color: rgba($color-white, 0.30) !default;
$button-disabled-background-color: rgba($color-white, 0.12) !default;
$button-border-radius: 0.2 * $unit;
$button-floating-font-size: $unit * 2.4;
$button-floating-height: $unit * 5.6;
$button-floating-mini-height: $unit * 4;
$button-floating-mini-font-size: $button-floating-mini-height / 2.25;
$button-height: $unit * 3.6;
$button-squared-icon-margin: $unit * .6;
$button-squared-min-width: 9 * $unit;
$button-squared-padding: 0 $unit * 1.2;
$button-toggle-font-size: $unit * 2;

$card-color-white: $color-white !default;
$card-text-overlay: rgba($color-black, 0.35) !default;
$card-background-color: $color-dark-400;
$card-padding-sm: .8 * $unit;
$card-padding: 1.6 * $unit;
$card-padding-lg: 2 * $unit;
$card-font-size: $font-size-small;

$checkbox-color: $color-primary !default;
$checkbox-disabled-color: rgba($color-white, 0.30) !default;
$checkbox-field-margin-bottom: 1.5 * $unit !default;
$checkbox-focus-checked-color: rgba($color-primary, 0.26) !default;
$checkbox-ripple-duration: 650ms !default;
$checkbox-size: 1.8 * $unit !default;
$checkbox-focus-color: rgba($color-white, 0.1) !default;
$checkbox-focus-size: $checkbox-size * 2.3 !default;
$checkbox-text-color: $color-white !default;
$checkbox-text-font-size: $font-size-small !default;
$checkbox-total-height: 1.8 * $unit !default;
$checkbox-transition-duration: .2s !default;

$chip-background: $color-dark-500 !default;
$chip-color: $color-text-secondary !default;
$chip-remove-background: $color-dark-400 !default;
$chip-remove-background-hover: $color-dark-300 !default;
$chip-remove-color: rgba($color-white, 0.25) !default;
$chip-height: 3.2 * $unit !default;
$chip-icon-font-size: 2.0 * $unit !default;
$chip-icon-margin-right: 0.8 * $unit !default;

$datepicker-primary: $color-primary;
$datepicker-primary-contrast: $color-primary-contrast;
$datepicker-primary-dark: $color-primary-dark;
$datepicker-primary-color: $datepicker-primary !default;
$datepicker-primary-hover-color: rgba($datepicker-primary, 0.20) !default;
$datepicker-primary-contrast-color: $datepicker-primary-contrast !default;
$datepicker-primary-dark-color: $datepicker-primary-dark !default;
$datepicker-dialog-width: 33 * $unit;
$datepicker-inactive-opacity: .6;
$datepicker-weekday-line-height: 2 * $unit;
$datepicker-weekday-font-size: $font-size-small;
$datepicker-month-font-size: $font-size-big;
$datepicker-day-font-size: 5 * $unit;
$datepicker-day-line-height: 4 * $unit;
$datepicker-year-font-size: $font-size-small;

$calendar-primary: $color-primary;
$calendar-primary-contrast: $color-primary-contrast;
$calendar-primary-color: $calendar-primary !default;
$calendar-primary-contrast-color: $color-dark-500 !default;
$calendar-primary-hover-color: rgba($calendar-primary, 0.21) !default;
$calendar-arrows-color: $color-dark-500 !default;
$calendar-arrows-font-size: 2 * $unit;
$calendar-year-font-size: 2.4;
$calendar-day-font-size: 1.3 * $unit;
$calendar-day-disable-opacity: 0.25;
$calendar-row-height: 3 * $unit;
$calendar-day-padding: .2 * $unit;
$calendar-title-height: 3.6 * $unit;
$calendar-total-height: $calendar-row-height * 7 + $calendar-title-height + $calendar-day-padding * 12;

$dialog-border-radius: .2 * $unit;
$dialog-color-title: $color-white !default;
$dialog-color-white: $color-dark-500 !default;
$dialog-content-padding: 2.4 * $unit;
$dialog-navigation-padding: .8 * $unit;
$dialog-translate-y: 4 * $unit;

$drawer-background-color: $color-dark-200 !default;
$drawer-border-color: $color-dark-100 !default;
$drawer-text-color: $color-text-secondary !default;
$drawer-width: 24 * $unit;

$dropdown-color-white: $color-dark-500;
$dropdown-color-primary: $color-primary;
$dropdown-color-primary-contrast: $color-primary-contrast;
$dropdown-value-hover-background: $color-dark-200;
$dropdown-overflow-max-height: 45vh;
$dropdown-value-border-radius: .2 * $unit;

$input-padding: 2 * $unit;
$input-field-padding: .8 * $unit;
$input-field-font-size: 1.6 * $unit;
$input-field-height: $input-field-padding * 2 + $input-field-font-size * 1.4;
$input-label-font-size: 1.2 * $unit;
$input-focus-label-top: .6 * $unit;
$input-text-background-color: transparent !default;
$input-text-label-color: rgba($color-white, 0.30) !default;
$input-text-bottom-border-color: rgba($color-white, 0.12) !default;
$input-text-highlight-color: $color-primary !default;
$input-text-disabled-color: $input-text-bottom-border-color !default;
$input-text-disabled-text-color: $input-text-label-color !default;
$input-text-error-color: rgb(222, 50, 38) !default;
$input-underline-height:  2 * $unit;

$input-icon-font-size: 2.4 * $unit;
$input-icon-font-size-small: 2.0 * $unit;

$input-icon-size: 2 * $input-icon-font-size;
$input-icon-offset: 1.6 * $unit;
$input-chevron-offset: .8 * $unit;

$list-vertical-padding: .8 * $unit;
$list-horizontal-padding: 1.6 * $unit;
$list-content-lespacing: 7.2 * $unit;
$list-subheader-height: 4.8 * $unit;
$list-subheader-font-size: 1.4 * $unit;
$list-subheader-font-weight: 500;
$list-divider-height: .1 * $unit;
$list-item-min-height: 4.8 * $unit;
$list-item-min-height-legend: 7.2 * $unit;
$list-item-hover-color: rgba($color-black, 0.20);
$list-item-legend-margin-top: .3 * $unit;
$list-item-icon-font-size: 2.4 * $unit;
$list-item-icon-size: 1.8 * $unit;
$list-item-right-icon-margin: $list-content-lespacing - 2 * $list-horizontal-padding - $list-item-icon-size;
$list-item-right-checkbox-margin: $list-item-right-icon-margin + $list-horizontal-padding;
$list-item-avatar-height: 4 * $unit;
$list-item-avatar-margin: .8 * $unit;
$list-item-child-margin: .8 * $unit;

$menu-expand-duration: .3s !default;
$menu-fade-duration: .2s !default;
$menu-ripple-delay: .3s !default;
$menu-background-color: $color-dark-500;
$menu-padding: .8 * $unit 0;
$menu-outline-border-radius: .2 * $unit;
$menu-item-hover-background: rgba($color-black, 0.20);
$menu-item-icon-font-size: 2.4 * $unit;
$menu-item-icon-size: 1.6 * $menu-item-icon-font-size;
$menu-item-height: 4.8 * $unit;
$menu-item-padding: 1.6 * $unit;
$menu-item-font-size: 1.6 * $unit;
$menu-divider-height: (4.8 * $unit) / 4;
$menu-icon-size: 2.3 * $unit;
$menu-icon-ripple-duration: 650ms;

$navigation-space: $unit !default;
$navigation-color: $color-black !default;

$overlay-color: $color-black !default;
$overlay-opacity: .6 !default;

$progress-height: .4 * $unit;
$progress-main-color: $color-primary !default;
$progress-secondary-color: rgba($color-primary-contrast, 0.7) !default;

$circle-wrapper-width: 60;
$circle-radius: 25;

$scale-ratio: $circle-radius / 20;

$radio-field-margin-bottom: 1.5 * $unit;
$radio-button-size: 1.6 * $unit !default;
$radio-inner-margin: $radio-button-size / 4;
$radio-inner-color: $color-primary !default;
$radio-focus-color: rgba($color-white, 0.1) !default;
$radio-checked-focus-color: rgba($color-primary, 0.26) !default;
$radio-text-color: $color-white !default;
$radio-disabled-color: rgba($color-white, 0.30) !default;
$radio-text-font-size: 1.4 * $unit;

$ripple-duration: 800ms !default;
$ripple-final-opacity: .3 !default;
$ripple-size: 15 * $unit !default;

$slider-main-color: $color-primary !default;
$slider-main-color-contrast: $color-primary-contrast !default;
$slider-snap-color: $color-black !default;
$slider-knob-size: 3.2 * $unit;
$slider-inner-knob-size: 1.2 * $unit;
$slider-snap-size: .2 * $unit;
$slider-input-width: 5 * $unit;
$slider-bar-height: .2 * $unit;
$slider-pin-size: 2.6 * $unit;
$slider-pin-elevation: 1.7 * $unit;
$slider-side-separation: 1 * $unit;
$slider-empty-knob-border: .2 * $unit;

$snackbar-color-cancel: $palette-red-500 !default;
$snackbar-color-accept: $palette-green-500 !default;
$snackbar-color-warning: $palette-lime-a200 !default;
$snackbar-background-color: $color-dark-000 !default;
$snackbar-border-radius: .2 * $unit !default;
$snackbar-button-offset: 4.8 * $unit !default;
$snackbar-color: $color-white !default;
$snackbar-horizontal-offset: 2.4 * $unit !default;
$snackbar-vertical-offset: 1.4 * $unit !default;

$switch-color: $color-primary !default;
$switch-text-color: $color-text !default;
$switch-thumb-off-color: rgba($palette-grey-400, 1.00) !default;
$switch-track-on-color: rgba($color-primary, 0.5) !default;
$switch-track-off-color: rgba($color-white, 0.30) !default;
$switch-off-ripple-color: rgba($color-white, 0.4) !default;
$switch-on-focus-color: rgba($color-primary, 0.26) !default;
$switch-off-focus-color: rgba($color-white, 0.1) !default;
$switch-disabled-thumb-color: $color-dark-500 !default;
$switch-disabled-track-color: rgba($color-white, 0.10) !default;
$switch-disabled-text-color: rgba($color-white, 0.20) !default;
$switch-total-height: 2.4 * $unit !default;
$switch-track-length: 3.6 * $unit !default;
$switch-track-height: 1.4 * $unit !default;
$switch-thumb-size: 2 * $unit !default;
$switch-thumb-on-color: $switch-color !default;
$switch-focus-init-size: .8 * $unit !default;
$switch-focus-size: $switch-total-height * 2 !default;
$switch-focus-diff: ($switch-focus-size - $switch-focus-init-size) / 2;
$switch-ripple-duration: 650ms !default;
$switch-font-size: $font-size-small !default;
$switch-field-margin-bottom: 1.5 * $unit !default;

$table-row-height: 48px;
$table-row-divider: solid 1px rgba(0,0,0,.12);
$table-row-offset: 1.8 * $unit;
$table-row-highlight: rgba($color-black, 0.20);
$table-text-color: $color-text-secondary;

$tab-label-disabled-opacity: .2;
$tab-label-h-padding: 1.2 * $unit;
$tab-label-height: 4.8 * $unit;
$tab-text-height: 1.4 * $unit;
$tab-label-v-padding: ($tab-label-height - $tab-text-height) / 2;
$tab-navigation-border-color: $color-divider;
$tab-pointer-color: $color-primary !default;
$tab-pointer-height: .2 * $unit;
$tab-text: $color-white !default;
$tab-text-color: $tab-text !default;
$tab-text-inactive-color: rgba($tab-text, 0.70) !default;

$timepicker-header-font-size: 5.2 * $unit;
$timepicker-header-padding: $unit;
$timepicker-ampm-font-size: 1.6 * $unit;
$timepicker-primary: $color-primary;
$timepicker-primary-contrast: $color-primary-contrast;
$timepicker-primary-dark: $color-primary-dark;
$timepicker-primary-color: $timepicker-primary !default;
$timepicker-primary-hover-color: rgba($timepicker-primary, 0.20) !default;
$timepicker-primary-contrast-color: $timepicker-primary-contrast !default;
$timepicker-primary-dark-color: $timepicker-primary-dark !default;
$timepicker-ampm-height: 2.2 * $unit;
$timepicker-ampm-width: 4 * $unit;
$timepicker-dialog-width: 30 * $unit;

$clock-padding: 1.5 * $unit 2 * $unit;
$clock-primary: $color-primary;
$clock-primary-contrast: $color-primary-contrast;
$clock-primary-dark: $color-primary-dark;
$clock-primary-color: $clock-primary !default;
$clock-primary-hover-color: rgba($clock-primary, 0.20) !default;
$clock-primary-contrast-color: $clock-primary-contrast !default;
$clock-primary-dark-color: $clock-primary-dark !default;
$clock-number-size: 2 * $unit;
$clock-hand-width: .4 * $unit;
$clock-hand-dot-size: 1 * $unit;
$clock-knob-size: 3.4 * $unit;
$clock-knob-small-size: 1.2 * $unit;

$tooltip-background: rgba(97,97,97,.9) !default;
$tooltip-margin: 0.5 * $unit !default;
$tooltip-border-radius: .2 * $unit !default;
$tooltip-color: #fff !default;
$tooltip-font-size: $unit !default;
$tooltip-max-width: 17 * $unit !default;
$tooltip-padding: .8 * $unit !default;
$tooltip-animation-duration: 200ms !default;
