// :copyright: Copyright (c) 2016 ftrack
:global {

    /** Tweak global react-toolbox sizing */
    html {
        // font-size: 62.5%;
        font-size: 56%;
    }

    /** Set global colors */
    body {
        background: $color-background;
        color: $color-text;
    }

    /** Body element should not scroll, elements beneath will */
    body {
        height: 100%;
        overflow: hidden;
    }

    /** Link color */
    a {
        color: $color-primary;
    }

    input, textarea, select, button {
        color: $color-text;
    }

}
