// :copyright: Copyright (c) 2016 ftrack

@import "~react-toolbox/lib/input/_config";

:global {
::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color: $input-text-label-color;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
   color: $input-text-label-color;
   opacity: 1;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
   color: $input-text-label-color;
   opacity: 1;
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
   color: $input-text-label-color;
}
}
