// :copyright: Copyright (c) 2014 ftrack

:global {

/* Scrollbars */
::-webkit-scrollbar {
    width: 10px;
    height: 10px;
    background-color: rgba($color-background, 0);
    border-radius: 100px;
    &:hover {
        background: rgba($color-text, 0.05);
    }
}

/* Handle */
::-webkit-scrollbar-thumb {
    border-radius: 100px;
    background: rgba($color-text, 0.3);

    &:active {
          background: rgba($color-text, 0.6);
    }
}

::-webkit-scrollbar-thumb:window-inactive {
    background: rgba($color-text, 0.2);
}

/* corner */
::-webkit-scrollbar-corner {
    background: none;
}

}
