// :copyright: Copyright (c) 2016 ftrack

:global {
    .transition-fade-enter {
        opacity: 0;
        transition: opacity 0.2s ease;
    }

    .transition-fade-enter-active {
        opacity: 1;
        transition: opacity 0.2s ease;
    }

    .transition-fade-leave {
        opacity: 1;
        transition: opacity 0.2s ease;
    }

    .transition-fade-leave-active {
        opacity: 0;
    }
}
