<!DOCTYPE html>
<!--[if lt IE 7 ]> <html lang="en" class="ie6" <% if(htmlWebpackPlugin.files.manifest) { %> manifest="<%= htmlWebpackPlugin.files.manifest %>"<% } %>> <![endif]-->
<!--[if IE 7 ]>    <html lang="en" class="ie7" <% if(htmlWebpackPlugin.files.manifest) { %> manifest="<%= htmlWebpackPlugin.files.manifest %>"<% } %>> <![endif]-->
<!--[if IE 8 ]>    <html lang="en" class="ie8" <% if(htmlWebpackPlugin.files.manifest) { %> manifest="<%= htmlWebpackPlugin.files.manifest %>"<% } %>> <![endif]-->
<!--[if IE 9 ]>    <html lang="en" class="ie9" <% if(htmlWebpackPlugin.files.manifest) { %> manifest="<%= htmlWebpackPlugin.files.manifest %>"<% } %>> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <html lang="en" class="" <% if(htmlWebpackPlugin.files.manifest) { %> manifest="<%= htmlWebpackPlugin.files.manifest %>"<% } %>> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <title><%= htmlWebpackPlugin.options.title || 'My widget'%></title>

    <% if (htmlWebpackPlugin.files.favicon) { %>
    <link rel="shortcut icon" href="<%= htmlWebpackPlugin.files.favicon%>">
    <% } %>
    <% if (htmlWebpackPlugin.options.mobile) { %>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <% } %>

    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="description" content="">
    <meta name="viewport" content="initial-scale=1.0,user-scalable=no,maximum-scale=1,width=device-width">
    <meta name="viewport" content="initial-scale=1.0,user-scalable=no,maximum-scale=1" media="(device-height: 568px)">
    <meta name="format-detection" content="telephone=no">
    <meta name="HandheldFriendly" content="True">
    <meta http-equiv="cleartype" content="on">

    <!-- Material design text font & icon font -->
    <link href="/static/font/Roboto/roboto.css" rel="stylesheet">
    <link href="/static/font/MaterialIcons/material-icons.css" rel="stylesheet">

    <!-- Inline styling for page loader before application has been initialized -->
    <style type="text/css">
        html, body, div {
            margin: 0;
            padding: 0;
        }

        html, body {
            height: 100%;
        }

        #app {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            overflow-y: auto;
        }

        .app-loader {
            position: absolute;
            top: 50%;
            left: 50%;
            margin-top: -30px;
            margin-left: -30px;
            display: inline-block;
            width: 60px;
            height: 60px;
            -webkit-transform: rotate(-90deg);
               -moz-transform: rotate(-90deg);
                -ms-transform: rotate(-90deg);
                 -o-transform: rotate(-90deg);
                    transform: rotate(-90deg);
        }

        .app-loader-circle {
            -webkit-animation: app-loader-circular-indeterminate-bar-rotate 2s linear infinite;
               -moz-animation: app-loader-circular-indeterminate-bar-rotate 2s linear infinite;
                 -o-animation: app-loader-circular-indeterminate-bar-rotate 2s linear infinite;
                    animation: app-loader-circular-indeterminate-bar-rotate 2s linear infinite;
            width: 100%;
            height: 100%;
        }

        .app-loader-circle-path {
            -webkit-animation: app-loader-circular-indeterminate-bar-dash 1.5s ease-in-out infinite;
               -moz-animation: app-loader-circular-indeterminate-bar-dash 1.5s ease-in-out infinite;
                 -o-animation: app-loader-circular-indeterminate-bar-dash 1.5s ease-in-out infinite;
                    animation: app-loader-circular-indeterminate-bar-dash 1.5s ease-in-out infinite;
            stroke-dasharray: 1.25, 250;
            stroke-dashoffset: 0;

            -webkit-transition: stroke-dasharray .35s cubic-bezier(0.4, 0, 0.2, 1);

            -moz-transition: stroke-dasharray .35s cubic-bezier(0.4, 0, 0.2, 1);

            -o-transition: stroke-dasharray .35s cubic-bezier(0.4, 0, 0.2, 1);

            transition: stroke-dasharray .35s cubic-bezier(0.4, 0, 0.2, 1);
            fill: none;

            stroke-dasharray: 0, 250;
            stroke-dashoffset: 0;
            stroke-linecap: round;
            stroke-miterlimit: 20;
            stroke-width: 4;
            stroke: #2bba90;
        }


        @-webkit-keyframes app-loader-circular-indeterminate-bar-rotate {
          100% {
            -webkit-transform: rotate(360deg);
                    transform: rotate(360deg);
          }
        }


        @-moz-keyframes app-loader-circular-indeterminate-bar-rotate {
          100% {
            -moz-transform: rotate(360deg);
                 transform: rotate(360deg);
          }
        }


        @-o-keyframes app-loader-circular-indeterminate-bar-rotate {
          100% {
            -o-transform: rotate(360deg);
               transform: rotate(360deg);
          }
        }


        @keyframes app-loader-circular-indeterminate-bar-rotate {
          100% {
            -webkit-transform: rotate(360deg);
               -moz-transform: rotate(360deg);
                 -o-transform: rotate(360deg);
                    transform: rotate(360deg);
          }
        }

        @-webkit-keyframes app-loader-circular-indeterminate-bar-dash {
          0% {
            stroke-dasharray: 1.25, 250;
            stroke-dashoffset: 0;
          }

          50% {
            stroke-dasharray: 111.25, 250;
            stroke-dashoffset: -43.75;
          }

          100% {
            stroke-dasharray: 111.25, 250;
            stroke-dashoffset: -155;
          }
        }

        @-moz-keyframes app-loader-circular-indeterminate-bar-dash {
          0% {
            stroke-dasharray: 1.25, 250;
            stroke-dashoffset: 0;
          }

          50% {
            stroke-dasharray: 111.25, 250;
            stroke-dashoffset: -43.75;
          }

          100% {
            stroke-dasharray: 111.25, 250;
            stroke-dashoffset: -155;
          }
        }

        @-o-keyframes app-loader-circular-indeterminate-bar-dash {
          0% {
            stroke-dasharray: 1.25, 250;
            stroke-dashoffset: 0;
          }

          50% {
            stroke-dasharray: 111.25, 250;
            stroke-dashoffset: -43.75;
          }

          100% {
            stroke-dasharray: 111.25, 250;
            stroke-dashoffset: -155;
          }
        }

        @keyframes app-loader-circular-indeterminate-bar-dash {
          0% {
            stroke-dasharray: 1.25, 250;
            stroke-dashoffset: 0;
          }

          50% {
            stroke-dasharray: 111.25, 250;
            stroke-dashoffset: -43.75;
          }

          100% {
            stroke-dasharray: 111.25, 250;
            stroke-dashoffset: -155;
          }
        }
    </style>

    <!-- Load theme stylesheet -->
    <script type="text/javascript">
      /** Return query parameter by *key*. */
      function getQueryVariable(key) {
        var query = window.location.search.substring(1);
        var parameters = query.split("&");
        for (var i=0; i<parameters.length; i++) {
          var parameter = parameters[i].split("=");
          if (parameter[0] === key) {
            return parameter[1];
          }
        }
        return null;
      }

      /** Load stylesheet *href*. */
      function loadStyleSheet(href){
        var head = document.getElementsByTagName('head')[0];
        var link = document.createElement('link');
        link.rel = 'stylesheet';
        link.type = 'text/css';
        link.href = href;
        head.appendChild(link);
      }

      // Get theme as set in ftrack from query parameter and inject a stylesheet.
      var theme = getQueryVariable('theme') || 'light';
      loadStyleSheet('/static/css/theme-' + theme + '.css?hash=<%=webpack.hash%>');
    </script>

  </head>
  <body>
    <div id="app">
        <div class="app-loader">
            <svg class="app-loader-circle">
                <circle class="app-loader-circle-path" cx='30' cy='30' r='25' />
            </svg>
        </div>
    </div>

    <% if (htmlWebpackPlugin.options.unsupportedBrowser) { %>
    <style>.unsupported-browser { display: none; }</style>
    <div class="unsupported-browser">
      Sorry, your browser is not supported.  Please upgrade to
      the latest version or switch your browser to use this site.
      See <a href="http://outdatedbrowser.com/">outdatedbrowser.com</a>
      for options.
    </div>
    <% } %>

    <% if (htmlWebpackPlugin.options.appMountId) { %>
    <div id="<%= htmlWebpackPlugin.options.appMountId%>"></div>
    <% } %>

    <% if (htmlWebpackPlugin.options.appMountIds && htmlWebpackPlugin.options.appMountIds.length > 0) { %>
    <% for (var index in htmlWebpackPlugin.options.appMountIds) { %>
    <div id="<%= htmlWebpackPlugin.options.appMountIds[index]%>"></div>
    <% } %>
    <% } %>

    <% if (htmlWebpackPlugin.options.window) { %>
    <script>
      <% for (var varName in htmlWebpackPlugin.options.window) { %>
        window['<%=varName%>'] = <%= JSON.stringify(htmlWebpackPlugin.options.window[varName]) %>;
      <% } %>
    </script>
    <% } %>

    <% for (var chunk in htmlWebpackPlugin.files.chunks) { %>
    <script src="<%= htmlWebpackPlugin.files.chunks[chunk].entry %>"></script>
    <% } %>

    <% if (htmlWebpackPlugin.options.devServer) { %>
    <script src="<%= htmlWebpackPlugin.options.devServer%>/webpack-dev-server.js"></script>
    <% } %>

    <% if (htmlWebpackPlugin.options.googleAnalytics) { %>
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
          (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
      <% if (htmlWebpackPlugin.options.googleAnalytics.trackingId) { %>
        ga('create', '<%= htmlWebpackPlugin.options.googleAnalytics.trackingId%>', 'auto');
        <% } else { throw new Error("html-webpack-template requires googleAnalytics.trackingId config"); }%>
      <% if (htmlWebpackPlugin.options.googleAnalytics.pageViewOnLoad) { %>
        ga('send', 'pageview');
      <% } %>
    </script>
    <% } %>
  </body>
</html>
